* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #eaeaea;
}

.memory small {
  color: #BEBEBF;
  font-size: 12px;
}

.memory h1 {
  font-size: 32px;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}